language: c

#dist: trusty
sudo: false
addons:
  apt:
    update: true
    packages:
    - realpath
    - build-essential
    - texinfo

before_install:
 - source $TRAVIS_BUILD_DIR/.travis/common.sh
 - bash $TRAVIS_BUILD_DIR/.travis/fixup-git.sh
 - source $TRAVIS_BUILD_DIR/.travis/common.sh

install:
 - ./.travis/install.sh

env:
  - PACKAGE=vtr
  - PACKAGE=libxml2
  - PACKAGE=libusb
  - PACKAGE=yosys
  - PACKAGE=nextpnr-ice40
  - PACKAGE=nextpnr-xilinx
  - PACKAGE=openocd
  - PACKAGE=prjxray
  # XXX riscv32 toolchain: disabled as fails to build
  # PACKAGE=riscv32/binutils
  # symbiflow toolchain
  - PACKAGE=symbiflow-toolchain
  - PACKAGE=symbiflow-xc7a50t
  # verilog tools
  - PACKAGE=icestorm
  - PACKAGE=iverilog
  - PACKAGE=verilator
  - PACKAGE=netlistsvg
  # SystemVerilog tools
  - PACKAGE=zachjs-sv2v
  - PACKAGE=odin_II
  - PACKAGE=tree-sitter-verilog
  - PACKAGE=slang               USE_SYSTEM_GCC_VERSION="8"
  - PACKAGE=moore
  - PACKAGE=surelog
  - PACKAGE=sv-parser
  - PACKAGE=verible             USE_SYSTEM_GCC_VERSION="8"
  # protocol analyzers
  - PACKAGE=sigrok-cli
  - PACKAGE=yosys-plugins
  # metapackages
  - PACKAGE=symbiflow-toolchain-xray

script:
  - bash $TRAVIS_BUILD_DIR/.travis/script.sh

after_failure:
  - bash $TRAVIS_BUILD_DIR/.travis/after_failure.sh

after_success:
  - bash $TRAVIS_BUILD_DIR/.travis/after_success.sh
